*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(220, 220, 220, 0.273);
}
header{
    margin-top: 0px;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.068);
}
#btn-invitation{
    height: 35px;
    background:  linear-gradient(to left, #31D35C, #2BB7DA);
    border-radius: 30px;
    padding: 5px 10px;
    border: none;
    color: white;
    cursor: pointer;
}
#Menu{
    width: 450px;
    display: flex;
    justify-content: space-between;
}
#Menu a{
    text-decoration: none;
    color: #9698A6;
    font-style: 16px;  
}
#Menu a:hover {
    color: hsl(114, 70%, 51%);
}
#bouton-Menu {
    display: none;
}
@media (max-width: 768px) {
    #btn-invitation{
    display: none;
}
#Menu {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    background-color: #ffffff;
    align-items: center;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.237);
}
/* Classe qui permet d'afficher le menu */
#Menu.active {
    display: flex;
}
#Menu a {
    color: rgba(0, 0, 0, 0.619);
    margin: 10px 0;
    font-size: 18px;
}
header {
    justify-content: space-between;
    padding: 0 50px;
    position: relative;
}
#bouton-Menu {
    display: flex;
    border: none;
    background: none;
    cursor: pointer;
}
#bouton-Menu img{
    height: 25px;
    width: 30px;
   
}
#bouton-Menu img :hover {
color: lch(63.09% 7.86 285.64 / 0.677);
}

}

/* PARTIE AJOUTER */

#logo img{
	float: left;
	height: 50px;
  width: auto;
  margin-top: 0%;

  /* vertical-align: middle; */
  

}
section.hero {
  /* background-image: url("../image/image2.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
  text-align: center; */
  background-color: #007bff70;
  padding: 75px;
	margin: 10px;
	margin-top: 10px;
	width: 77%;
  height: 70%;
	margin-left: 120px;
    text-align: center;
  /* padding: 3rem 2rem; */
  /* background-color: #e9ecef; */
}
.hero p{
  background-color: transparent #0057b3c1;
  color: #fff;
}

.hero h1 {
  font-size: 3rem;
  color: #007bff;
}

.hero h2 {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #6c757d;
}

.hero .message-accueil {
  margin: 1.5rem auto;
  max-width: 800px;
}

.hero button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero button:hover {
  background-color: #0056b3;
}
